@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(/fonts/LouizeDisplay-Medium.ttf);
}

@font-face {
    font-family: font2;
    src: url(/fonts/LouizeDisplay-MediumItalic.ttf);
}

@font-face {
    font-family: font3;
    src: url(/fonts/TestManuka-Bold.ttf);
}
@font-face {
    font-family: font4;
    src: url(/fonts/NeueMontreal-Light.ttf);
}
.ofthe{
    color: #fafafa;
    -webkit-text-stroke: .02em #2a2722;
}
@theme {
  --color-TXTmain: #2A2722;
  --color-BgFull: #FAFAFA;
  --text-stroke: 0.02em;
  --text-stroke-color: #2a2722;  
 
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.home-letter::before {
    content: "";
    position: absolute;
    inset: 1rem;
    display: block;
    
    border: 2px solid #fff;
}


